body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(-45deg,#d99dd2, #e7b9ce, #eb8d8d);
    color: #000000;
    padding: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:cursive;
}
a{
    text-decoration: none;
    color:#fff
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #d3083f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 40px; 
    font-family: cursive;
}

.button:active {
    background-color: #d78787;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

  .bubbles {
    position: relative;
    width: 100%;
    height: 100%;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    background: rgba(79, 9, 56, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0.7;
}

.bubble-1 {
    width: 50px;
    height: 50px;
    top: 10%;
    left: 20%;
    animation: float 5s infinite ease-in-out;
}

.bubble-2 {
    width: 70px;
    height: 70px;
    top: 30%;
    left: 60%;
    animation: float 6s infinite ease-in-out;
}

.bubble-3 {
    width: 90px;
    height: 90px;
    top: 50%;
    left: 40%;
    animation: float 4s infinite ease-in-out;
}

.bubble-4 {
    width: 60px;
    height: 60px;
    top: 70%;
    left: 80%;
    animation: float 7s infinite ease-in-out;
}

.bubble-5 {
    width: 80px;
    height: 80px;
    top: 70%;
    left: 10%;
    animation: float 5.5s infinite ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

